section {
  margin: 0 auto;
}
.introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  .self {
    width: 600px;
    p {
      font-size: var(--font-size15);
    }
  }
  .image img{
    width: 400px;
    margin-left: 200px;
  }
}
.skills {
  margin: 130px 200px 0;
  padding-bottom: 100px;
  h2 {
    border-bottom: 3px var(--green4) solid;
  }
  .skillContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    .skillItem {
      border: 1px rgba(0, 133, 67, 0.2) solid;
      border-radius: 15px;
      margin-right: 30px;
      margin-bottom: 30px;
      width: 400px;
      height: 120px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: transform .2s ease-out, box-shadow .2s ease-out;
      .itemTitle {
        display: flex;
        align-items: center;
        transition: all .3s ease-in-out 0s;
        padding: 10px;
        img {
          width: 80px;
          height: 80px;
          transform: translateX(140px);
          transition: all .3s ease-in-out 0s;
        }
        p { 
          transform: scale(0, 0);
          margin-left: 10px;
          transition: transform .3s ease-in-out 0s;
        }
      }
      .itemDesc {
        padding: 10px;
        visibility: hidden;
        opacity: 0;
      }
      &.active,
      &:hover {
        transform: translateY(-5px);
        background-color: #fafafa;
        -webkit-box-shadow: 0px 10px 60px 5px rgba(0, 133, 67, 0.20);
          -moz-box-shadow: 0px 10px 60px 5px rgba(0, 133, 67, 0.20);
          box-shadow: 0px 10px 60px 5px rgba(0, 133, 67, 0.20);
      }
      &.active {
        height: auto;
        transition: height .2s ease-in-out 3s;
        .itemTitle {
          img {
            transform: translateX(0) scale(1, 1);
            width: 40px;
            height: 40px;
          }
          p {
            transform: translateX(0) scale(1, 1);
          }
        }
        .itemDesc {
          visibility: visible;
          opacity: 1;
          transition: all .2s ease-in-out .3s;
        }
      }
    }
  }
}