@import '../../responsive/utils.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .avatar img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
  .comment {
    margin-left: 150px;
    font-size: var(--font-size3);
    .color {
      font-weight: var(--font-bold);
      color: var(--green5);
    }
  }

  @include tablet {
    flex-direction: column;
    .avatar img {
      width: 240px;
      height: 240px;
    }
    .comment {
      margin-left: initial;
      margin-top: 1em;
      font-size: 4vh;
    }
  }
}