@import '../../responsive/utils.scss';

.header {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1em;
  padding: .5em 12em;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  & > svg { 
    display: none;
  }
  &.blur {
    backdrop-filter: blur(30px);
    border-bottom: 1px var(--green7) solid;
  }
  .logo {
    a {
      display: flex;
      cursor: pointer;
      img {
        width: 60px;
      }
    }
  }
  .navbar {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    .navlist {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      .navitem {
        a {
          font-weight: var(--font-bold);
          position: relative;
          margin-left: 2em;
          padding: 2em 2em 1em;
          &.active:after,
          &:hover:after {
            width: 100%;
          }
          &.active:before { 
            width: 40px; 
            visibility: visible;
          }
          &:after {
            content: "";
            position: absolute;
            display: inline-block;
            background: var(--green5);
            width: 0;
            height: 5px;
            border-radius: 16px;
            bottom: 5px;
            left: 0;
            transition: all .3s ease-out 0s;
          }
          /* &:before {
            content: "";
            position: absolute;
            display: inline-block;
            visibility: hidden;
            background: rgba(0, 133, 67, 0.3);
            width: 0;
            height: 15px;
            border-radius: 16px;
            left: 36px;
            top: 37px;
            -webkit-box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
              -moz-box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
              box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
          } */
        }
      }
    }
  }
  /* ~ 1023 */
  @include tablet {
    position: static;
    padding: .5em 1em;
    &>svg {
      display: inherit;
      font-size: var(--font-size275);
      padding: 0.1em;
      cursor: pointer;
    }
    & .navbar {
      flex-direction: column;
      justify-content: center;
      &.open {
        .navlist {
          max-height: 100vh;
        }
      }
      & .navlist {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 76px;
        left: 0;
        text-align: center;
        background-color: var(--white1);
        transition: 0.3s all ease-in-out;
        & .navitem {
          line-height: 3em;
          a {
            padding: 1em 2em;
            margin-left: initial;
          }
        }
      }
    }
  }
}