.header {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 1em;
  padding: 0 12em .5em;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  &.blur {
    backdrop-filter: blur(30px);
    border-bottom: 1px var(--green7) solid;
  }
  .logo {
    a {
      cursor: default;
    }
  }
  .navbar {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    .navlist {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
      .navitem {
        a {
          font-weight: var(--font-bold);
          position: relative;
          margin-left: 2em;
          padding: 2em 2em 1em;
          &.active:after,
          &:hover:after {
            width: 100%;
          }
          &.active:before { 
            width: 40px; 
            visibility: visible;
          }
          &:after {
            content: "";
            position: absolute;
            display: inline-block;
            background: var(--green5);
            width: 0;
            height: 5px;
            border-radius: 16px;
            bottom: 5px;
            left: 0;
            transition: all .3s ease-out 0s;
          }
          /* &:before {
            content: "";
            position: absolute;
            display: inline-block;
            visibility: hidden;
            background: rgba(0, 133, 67, 0.3);
            width: 0;
            height: 15px;
            border-radius: 16px;
            left: 36px;
            top: 37px;
            -webkit-box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
              -moz-box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
              box-shadow: 0px 0px 28px 13px rgba(0, 133, 67, 0.40);
          } */
        }
      }
    }
  }
}