.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  transform: translateY(-100%);
  width: 100%;
  height: 100px;
  background-color: var(--green7);
  color: var(--white2);
  .copyright {
    font-family: 'Noto Sans KR';
    cursor: default;
  }
  .link {
    font-size: var(--font-size15);
    ul { 
      display: flex;
      li {
        cursor: pointer;
        margin-right: 25px;
      }
    }
  }
}